/** No CSS for this example */
mat-slider {
  width: 300px;
}

app-stats-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.dark-theme {
  background: grey;
}

.main {
  height: 100vh;
}
